.logo{
    color: #4D5AE5;
        font-size: 18px;
        font-family: "Raleway", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 21px;
        text-decoration: none; 
}
.part-of-logo {
    color: #2E2F42;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 21px;
}
    
ul{
    list-style: none;
}



